{% extends 'layout/index.html.twig' %}

{% block content %}
<div class="top">
  <div class="title">
    <h1>Статистика</h1>
    <p>Метрики и отчёты</p>
  </div>
</div>
{% include 'in_develop.html.twig' %}
{% endblock %}