{% extends 'layout/index.html.twig' %}

{% block content %}
<div class="top">
  <div class="title">
    <h1>Задачи</h1>
    <p>Задачи, дедлайны и команда</p>
  </div>
</div>
{% include 'in_develop.html.twig' %}
{% endblock %}