{% extends 'layout/index.html.twig' %}

{% block content %}
<div class="top">
  <div class="title">
    <h1>Прозвон</h1>
    <p>Базы и статусы прозвона</p>
  </div>
</div>
{% include 'in_develop.html.twig' %}
{% endblock %}