{% extends 'layout/index.html.twig' %}

{% block content %}
<div class="top">
  <div class="title">
    <h1>Репостер</h1>
    <p>Публикации, расписания и репосты</p>
  </div>
</div>
{% include 'in_develop.html.twig' %}
{% endblock %}