{% extends 'layout/index.html.twig' %}

{% block content %}
<div class="top">
  <div class="title">
    <h1>AI</h1>
    <p>ИИ-помощники и автоматизация</p>
  </div>
</div>
{% include 'in_develop.html.twig' %}
{% endblock %}