{% extends 'layout/index.html.twig' %}

{% block content %}
<div class="top">
  <div class="title">
    <h1>Партнёрки</h1>
    <p>Реферальные ссылки и выплаты</p>
  </div>
</div>
<section class="card empty">
  <h2>emptyTitle</h2>
  <p>emptyText</p>
</section>
{% endblock %}